# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# Environment files
.env
.secrets
.venv/
env/
venv/

# Logs and databases
*.log
*.sqlite

# Backup files
test.py
*.bak

# Finnhub API folder
finnhub/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
*.egg-info/